body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.board-flex-parent-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 496px;
    height: 496px;
    position: relative;
}

.board-tile-grid-div{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 496px;
    height: 496px;
    position: absolute;
    align-items: center;
    justify-items: center;
}

.board-spacer-div{
    width: 496px;
    height: 496px;
    position: absolute;
    align-items: center;
    justify-items: center;
}

.board-grid-div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 155px;
}