body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-grid-div{
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    text-align: left;
}

.board-grid-div > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-div{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid red;
    height: 60px;
    width: 60px;
}
